@tailwind base;
@tailwind components;
@tailwind utilities;


.table-fixed {
    width: 100%;
    table-layout: fixed;
}
  
.table-fixed td {
    vertical-align: middle; /* Align content vertically */
    overflow: hidden;       /* Hide overflow content */
    text-overflow: ellipsis;/* Display '...' for overflow text */
    white-space: nowrap;    /* No wrapping of content to a new line */
  }

  



  ::-webkit-scrollbar {
    display: none;
  }